a {
  text-decoration: none;
}

li {
  list-style: none;
}

html,
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  background-color: #ffff;
}

#sidebar {
  width: 248px;
  min-width: 248px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  transition: all 0.25s ease-in-out;
  background-color: #2931fd;
}

#sidebar.expand {
  width: 72px;
  min-width: 72px;
}

#sidebar.expand .sidebar-logo > a {
  display: none;
}

#sidebar.expand .sidebar-header {
  padding: 0.25rem !important;
}

#sidebar.expand .sidebar-logo {
  justify-content: center;
  gap: 0.25rem;
}

#sidebar.expand .sidebar-link {
  justify-content: center;
  padding: 0.75rem 0;
  font-size: 0;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.sidebar-header {
  width: 100%;
}

.sidebar-logo img {
  width: 34px;
  height: 34px;
  flex-shrink: 0;
}

.sidebar-logo a {
  white-space: nowrap;
}

.sidebar-nav {
  scroll-margin-top: 3;
  padding: 1rem 0 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 10px 0.75rem;
  color: white;
  white-space: nowrap;
  margin: 10px;
}

.sidebar-link img {
  display: block;
  width: 24px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
  font-family: "font 1", sans-serif;
}

.toggle-btn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 0.425rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#sidebar.expand .sidebar-logo {
  animation: fadeln 0.25s ease;
}

@keyframes fadeln {
  0% {
    opacity: 0;
  }
}

.sidebar-logo a {
  color: white;
  font-size: 12.5px;
  font-weight: bold;
}

.sidebar-link:hover {
  background-color: white;
  color: #2931fd;
  border-radius: 10px;
  width: 191px;
  min-width: auto;
  height: 39px;
  transition: all 0.75s ease-in-out;
}

.sidebar-link:hover img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(98%) saturate(3597%)
    hue-rotate(232deg) brightness(95%) contrast(106%);
}

#sidebar.expand .sidebar-link,
#sidebar.expand .sidebar-link:hover {
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 8px auto;
  padding: 4px;
  border-left: 0;
}
